.body {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  /* background: url("/src/pages/Login/login.jpg");
  background-size: cover;
  background-repeat: no-repeat; */
  background-color: #fff;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

#title-login{
  color: #232222;
  font-family: monospace;
  font-size: 3rem;
  margin-top: 4rem;
  margin-bottom: -0.5rem;
}
.para-login{
  color: #545353;
  font-family: monospace;
  font-size: 1.5rem;
  text-align: center;

}
.para2-login{
  color: #545353;
  font-family: monospace;
  font-size: 1.5rem;
  margin-top: -30px;

}
#form {

  width: 35rem;
  height: 80vh;
  /* background: rgba(0, 0, 0, 0.8); */
  border: 1px solid black;

  border-radius: 1em;
  box-sizing: border-box;
  display: grid;
  justify-items: center;
  align-content: stretch;
  margin: 0px 10px;

}

#input {
  height: 40px;
  width: 300px;
  margin: -10px;
  border: 1px solid #EC8D95 ;
  border-radius: 4px;
  border-color: #ffdde0 !important;
 background-color: #fef4f5 !important;
}



#inputButtonLogin {

  width: 10.1em;
  height: 3.18em;
  background:  #FA8F8D;
  border: none;
  color: #fff;
  border-radius: 0.9em;
  font-size: .9em;
  letter-spacing: 2px;
  font-weight: 600;

}

#inputButtonLogin:hover {
  background-color:#EC8D95 !important;
  color: #fff;
  cursor: pointer;

}
#p1{
  color: red;
  font-size: 1.5rem;
  margin-top: 3px;
}